#tray {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vw;
  background-color: #d4d5d6bd;
  display: flex;
  overflow-x: auto;
}

#field {
  position: fixed;
  left: 0vw;
  top: 10vw;  
  background:  #4e4e4e63;
  /* background-image: url('file:///C:/Users/saura/Desktop/DP - Git/digitalpentomino_v5/resources/images/UI_images/tucaIceThemeBackground2.png'); */
  /* background-image: url('file:///C:/Users/saura/Desktop/DP - Git/digitalpentomino_v5/resources/images/UI_images/tuca_space_background.jpg'); */
  /* background-size: cover; */
 
  width: 100%;
  /*height: 39.35vw;*/
  bottom: 10vw;
}

#playarea {
  position: fixed;
  left: 0vw;
  top: 10vw;
  bottom: 10vw;
  /* background: transparent; */
  width: 100%;
  /* background-image: url('nightThemeDemoPic.png'); */
  background-position: top;
  background-size: cover;
  /*height: 39.35vw;*/
}



#functions_navbar {
  /* z-index: 10; */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vw;
  background-color: #d4d5d6bd;
  display: flex;
  overflow-x: auto;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
}