button:hover {
    opacity:1;
}
  
  /* Float cancel and delete buttons and add an equal width */
.cancelBtn, .deleteBtn {
    float: center;
    width: 10vw;
    margin-left: .5vw;
}
  
/* Add a color to the cancel button */
.cancelBtn {
    background-color:rgb(149, 172, 170);
    color: black;
}
  
/* Add a color to the delete button */
.deleteBtn {
    background-color:rgb(149, 172, 170);
    color: black;
}

#modalTop {
    top: 10vw;
    left: 0vw;
    right: 1vw;
    bottom: 10vw;
    border: 1px solid rgb(18, 122, 114);
    overflow: auto;
}

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100vw;
    height: 78%;
}
  
.modalContainer {
  top:1vw;
  position: relative;
  /* overflow-x: hidden; */
  margin-bottom: 3vw;

}
  /* Modal Content/Box */
.modalFormContent {
    position:relative;
    top:5vw;
    left: 28vw;
    width: 35vw;
    padding-bottom: 2vw;;
    background-color: rgb(220, 240, 237);
    border: .2vw solid rgb(2, 71, 62) ;

}

/* Add padding and center-align text to the container */
.modalFormContainer {
    /* padding: 16px; */
    text-align: center;
    top:2vw;
    overflow:hidden;

}  
  /* The Modal Close Button (x) */
 .modal .close {
    position: relative;
    right: 1vw;
    top: 0vw;
    font-size: 4vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    border-style: double;
    border-color: #f30808;
    color: #f30808;
    background: solid rgb(1, 26, 22) ;
    z-index: 100;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }

/*    */
