:root {
    --rotationX: 0;
    --rotationY: 0;
    --rotationZ: 0;
    --magnification:1;
}

#functions {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgb(136, 155, 150);
    bottom: 0;
    width: 10vw;
}

#game {
    position: fixed;
    top: 0;
    left: 10vw;
    background: green;
    bottom: 0;
    width: 90vw;
}

#tray {
    position: fixed;
    top: 0;
    left: 10vw;
    background: rgb(201, 212, 208);
    height: 7vw;
    width: 90vw;
}

#field {
    position: fixed;
    top: 7vw;
    bottom: 0;
    background: white;
    width: 90vw;
}

#piecearea {
    user-select: none;
}

#operations {
    display: inline-block;
}

/* #operations  img{
    width:3.5vw;
    height:3.5vw;
    
}

#operations button{
  margin:14px;
  margin-top: 2px;
} */


.gamearea {
    display: block;
    float: left;
    user-select: none;
    text-align: center;
    outline: 1px solid #eee;
    color: #ddd
}

.boardarea {
    background: rgb(136, 155, 150);
}

.piece {
    position: fixed;
    top: 0;
    width: 9vw;
    height: 9vw;
    transform: scale(var(--magnification)) rotateX(var(--rotationX)) rotateY(var(--rotationY)) rotateZ(var(--rotationZ));
    transition: transform .2s;
}

.bmAround {
    pointer-events: none
}

/* hint container - can be anything you want */
.cHints {
    position: relative;
    margin: 20px;
    background-color: #fff;
    padding: 10px;
    border:red 40px;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right:30px !important
}

/* The actual hint */
.cHints .cTextPopup {
    visibility: hidden;
    width: 100px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left:-40px;
}

/* hint arrow */
.cHints .cTextPopup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the hint */
.cHints .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the hint) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.CActionTB {
  margin-top: 100%;
}
/* 
.CActionTB tr td {
  table-layout:fixed;
  table-layout:fixed;
  border: 1px solid black;
  width: 100%;
  overflow: hidden;
} */

.CActionTB td:nth-child(odd) {
  background-color: #484b61;
}
.CActionTB td:nth-child(even) {
  background-color: #385461;
}

img {
float: left;
width:  3vw;
height: 3vw;
object-fit: cover;
}

img:hover {
  box-shadow: 1px 1px 10px 10px rgba(55, 89, 107, 0.5);
}


.cGame {
    border: 2px solid green;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}