
                /*reference : https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap:latin */
                @font-face {
                  font-family: 'Luckiest Guy';
                  font-style: normal;
                  font-weight: 400;
                  font-display: swap;
                  src: url(fonts/luckiestGuy.woff2) format('woff2');
                  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
                   U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
                }

                body,
                html {
                  background-color: #f6bf64;
                }

                body {
                  overflow-y: hidden;
                }

                h1 {
                  display: flex;
                  font-family: 'Luckiest Guy', cursive;
                  margin-top: 2%;
                  font-size: 8em;
                  padding: 0;
                  color: white;
                  /*reference: https://codepen.io/kylewetton/pen/yLBwdJX */
                  text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
                    0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
                    0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
                    -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
                  span {
                    transform: scale(0.9);
                    display: inline-block;
                  }
                  span:first-child {
                    animation: bop 1s cubic-bezier(0.175, 2.885, 0.32, 1.275) forwards infinite
                      alternate;
                  }
                  span:last-child {
                    animation:bopB 1s 0.2s cubic-bezier(2.175, 0.885, 0.32, 1.275) backwards
                      infinite alternate;
                  }
                }

                @keyframes bop {
                  0% {
                    transform: scale(0.9);
                  }
                  50%,
                  100% {
                    transform: scale(1);
                  }
                }

                @keyframes bopB {
                  0% {
                    transform: scale(0.9);
                  }
                  80%,
                  100% {
                    transform: scale(1) rotateZ(-3deg);
                  }
                }

                .text-center{
                    text-align: center!important;
                }

                .text-left{
                    text-align: left!important;
                }

                button{
                    position: relative;
                    background-color: transparent;
                    margin:7vw;
                    border:none; 
                    width: 8vw;
                    height: 8vw;
                    justify-content: center;
                    outline: none;
                    border:none;
                     cursor: pointer;
                }

                button img{
                    width: 7vw;
                    height: 7vw;
                    border-radius: 2vw;
                }

                button h1{
                  font-size: 2em;
                  justify-content: center;
                  align-items: center;
                }

                #digital h1{
                  justify-content: center;
                  align-items: center;
                }

                #languages{
                  justify-content: center;
                  align-items: center;
                }

                #languages h1{
                  font-size:0.9em;
                }


                 #languages img{
                   width: 2vw;
                    height: 2vw;
                    border-radius: 2vw;
                 }

                #button-area{
                  
                }

                @media only screen and (max-width: 1283px) {
                      h1 {
                        font-size: 7em;
                      }
                    }

                    @media only screen and (max-width: 1097px) {
                      h1 {
                        font-size: 5em;
                      }
                    }

                     @media only screen and (max-width: 836px) {
                      .multiple_b {
                                  display: none; 
                                  position: fixed; 
                                  z-index: 1; 
                                  padding-top: 100px; 
                                  left: 0;
                                  top: 0;
                                  width: 100%; 
                                  height: 100%; 
                                  overflow: auto; /
                                  background-color: rgb(0,0,0); 
                                  background-color: rgba(0,0,0,0.4); 
                                }
                    }

                    @media only screen and (max-width: 782px) {
                      h1 {
                        font-size: 4em;
                      }
                    }

                     @media only screen and (max-width: 782px) {
                      h1 {
                        font-size: 3em;
                      }
                    }



                    /* The multiple boards */

                                #multiple_boards ul{
                                  display: inline-block;
                                  list-style-type:none;
                                }

                                #multiple_boards ul li img{
                                  text-align: left!important
                                }

                                #multiple_boards ul li a{
                                  text-decoration: none;
                                }

                                 #multiple_boards ul li a h1{
                                  font-size: 1em;
                                }

                                
                                .multiple_b {
                                  display: none; 
                                  position: fixed; 
                                  z-index: 1; 
                                  padding-top: 100px; 
                                  left: 0;
                                  top: 0;
                                  width: 80%; 
                                  height: 80%; 
                                  overflow: auto; /
                                  background-color: rgb(0,0,0); 
                                  background-color: rgba(0,0,0,0.4); 
                                }

                                /* multiple_b_content */
                                .multiple_b_content {
                                  position: relative;
                                  background-color: #795644;
                                  margin: auto;
                                  padding: 0;
                                  border: 1px solid #888;
                                  width: 80%;
                                  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
                                  -webkit-animation-name: animatetop;
                                  -webkit-animation-duration: 0.4s;
                                  animation-name: animatetop;
                                  animation-duration: 0.4s
                                }

                                /* Add Animation */
                                @-webkit-keyframes animatetop {
                                  from {top:-300px; opacity:0} 
                                  to {top:0; opacity:1}
                                }

                                @keyframes animatetop {
                                  from {top:-300px; opacity:0}
                                  to {top:0; opacity:1}
                                }

                                /* The Close Button */
                                .close {
                                  color: white;
                                  float: right;
                                  font-size: 28px;
                                  font-weight: bold;
                                }

                                .close:hover,
                                .close:focus {
                                  color: #000;
                                  text-decoration: none;
                                  cursor: pointer;
                                }

                                .mb-header {
                                  padding: 2px 16px;
                                  background-color: #6b3e2e;
                                  color: white;
                                }

                                .mb-header h1{
                                  font-size:2em;
                                }

                                .modal-body {padding: 2px 16px;}

                                .mb-footer {
                                  padding: 2px 16px;
                                  background-color: #6b3e2e;
                                  color: white;
                                }

                                .mb-footer button{
                                  position: relative;
                                  background-color: transparent;
                                  margin:10px;
                                  border:none; 
                                  width: auto;
                                  height: auto;
                                  justify-content: center;
                                }

                                .mb-footer #load{
                                  text-align: right;
                                }

                                .mb-footer button h1{
                                  font-size: 1em;
                                }